.project
.classpath
.settings/*
target/
*/.settings/*
hfciw-common/.settings/org.eclipse.core.resources.prefs
hfciw-common/.settings/org.eclipse.jdt.core.prefs
hfciw-ihm/.settings/org.eclipse.core.resources.prefs
hfciw-ihm/.settings/org.eclipse.jdt.core.prefs
hfciw-services/.settings/org.eclipse.core.resources.prefs
hfciw-services/.settings/org.eclipse.jdt.core.prefs
hfciw-war/.settings/org.eclipse.core.resources.prefs
hfciw-war/.settings/org.eclipse.jdt.core.prefs
